---
import { Image } from "astro:assets"

import headshot_1 from "@assets/hero/headshot-1.jpg"
import headshot_p_1 from "@assets/hero/headshot-p-1.jpg"
import headshot_2 from "@assets/hero/headshot-2.jpg"
import headshot_p_2 from "@assets/hero/headshot-p-2.jpg"
import headshot_3 from "@assets/hero/headshot-3.jpg"
import headshot_p_3 from "@assets/hero/headshot-p-3.jpg"
---

<section class="w-full snap-start">
	<div
		class="grid grid-cols-1 grid-rows-1 overflow-x-hidden hover:[&_*]:[animation-play-state:_paused]"
	>
		<Image
			class="animate-slide1 col-start-1 row-start-1 hidden sm:block"
			src={headshot_1}
			alt="Thomas Fournier headshot #1"
			loading="eager"
			decoding="sync"
			fetchpriority="high"
			layout="constrained"
			width={1280}
		/>
		<Image
			class="animate-slide1 col-start-1 row-start-1 sm:hidden"
			src={headshot_p_1}
			alt="Thomas Fournier headshot #1"
			loading="eager"
			decoding="sync"
			fetchpriority="high"
			layout="constrained"
			width={640}
		/>
		<Image
			class="animate-slide2 col-start-1 row-start-1 hidden sm:block"
			src={headshot_2}
			alt="Thomas Fournier headshot #2"
			loading="eager"
			fetchpriority="low"
			layout="constrained"
			width={1280}
		/>
		<Image
			class="animate-slide2 col-start-1 row-start-1 sm:hidden"
			src={headshot_p_2}
			alt="Thomas Fournier headshot #2"
			loading="eager"
			fetchpriority="low"
			layout="constrained"
			width={640}
		/>
		<Image
			class="animate-slide3 col-start-1 row-start-1 hidden sm:block"
			src={headshot_3}
			alt="Thomas Fournier headshot #3"
			loading="eager"
			fetchpriority="low"
			layout="constrained"
			width={1280}
		/>
		<Image
			class="animate-slide3 col-start-1 row-start-1 sm:hidden"
			src={headshot_p_3}
			alt="Thomas Fournier headshot #3"
			loading="eager"
			fetchpriority="low"
			layout="constrained"
			width={640}
		/>
		<div
			class="[container-type:_inline-size] z-10 col-start-1 row-start-2 flex flex-col items-center justify-center gap-2 py-8 sm:row-start-1 sm:items-start sm:px-10 sm:py-0 md:px-20 lg:gap-4 lg:px-32 xl:gap-6 xl:px-44"
		>
			<h1
				class="font-josefin sm:animate-slide-text w-fit text-2xl text-neutral-100 sm:font-medium md:font-semibold lg:font-bold"
			>
				Thomas Fournier
			</h1>
			<h2
				class="font-josefin sm:animate-slide-text flex w-fit flex-col text-lg text-neutral-50 md:font-medium"
			>
				<span class="">Actor | Singer | Director</span>
				<span
					class="flex w-full items-center justify-between self-center tracking-[.25em] before:h-[3px] before:w-8 before:bg-neutral-50 after:h-[3px] after:w-8 after:bg-neutral-50"
					>Storyteller</span
				>
			</h2>
			<div class="sm:animate-slide-text mt-4 w-fit">
				<a
					class="max-w-fit rounded-sm border border-neutral-100 px-4 py-2 text-sm text-neutral-50 hover:bg-neutral-300 hover:text-neutral-900 hover:shadow-lg hover:shadow-neutral-300/30 md:font-medium"
					href="#contact">Contact Me</a
				>
			</div>
		</div>
	</div>
</section>
